*{
	margin: 0;
	padding: 0;
}
.to-left,.to-right{
	position: fixed;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #000;
	border-radius: 50%;
	text-align: center;
	font-size: 26px;
}
@media (orientation:portrait) {
	.box{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		// overflow: hidden;
		background-color: #6b88ff;
	}
	.to-left{
		left: 100px;
		top: 20px;
		transform:rotate(90deg);
	}
	.to-right{
		left: 100px;
		top: 100px;
		transform:rotate(90deg);
	}
	.canvas{
		transform:rotate(90deg);
	}
}
@media (orientation:landscape) {
	.box{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		// overflow: hidden;
		background-color: #6b88ff;
	}
	.to-left{
		bottom: 100px;
		left: 20px;
	}
	.to-right{
		bottom: 100px;
		left: 100px;
	}
}